.bg-container {
    background-color: #5a626e;
}

.line {
    width: 25vh;
    border-top: 2px solid aqua;
    padding-bottom: 2vh;
}

.resize {
    width: 50%;
}

a {
    text-decoration: none;
    color: #fff;
    border: 1px solid aqua;
    border-radius: 5px;
}

a:hover {
    color: aqua;
}

/* .btn-st {
    border: 1px solid aqua; 
    border-radius: 5px;
} */


