body {
    background-color: #5a626c;
    font-family: 'PT Serif', serif;
    
}

.leftside, .rightside {
    width: 100%;
    height: fit-content; 
}

.leftside {
    margin-bottom: -1px;
}

hr {
    color: #fff;
    border-width: 2px;
}

.text-color {
    color: #fff;
}

.title {
    background-color: #444c56;
    padding-top: 15px;
    padding-bottom: 15px;
}

h4 {
    font-size: medium;
}

p {
    border-right: none;
    padding-right: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #000;
}


@media only screen and (min-width:768px)
{
    .leftside, .rightside {
        height: 100vh;
        width: 100%;
        background-color: #5a626c;
    }
    
    .rightside {
        border-left: 5px solid #fff;
        height: fit-content;
        background-color: #fff;
    }

    p {
        font-size: 18px;
        padding-right: 10%;
    }
 
    
    hr {
        color: #000;
        border-width: 2px;
    }
    
    .text-color {
        color: #5a626c;
    }

    h2 {
        color:#444c56;
    }

    h4 {
        font-size: 20px;
    }
   

}

